.imagem-padrao {
  border-radius: 10px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagem-bola {
  border-radius: 100px;
  width: 130px;
  height: 130px;
  margin-left: 30px;
}
