/* Geral */

.post .post-content h3 {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: bold;
}

.post .post-content h4 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 0;
}

iframe {
  display: block;
  margin: 30px auto;
}

.content-full {
  width: 70%; 
  margin-left: 5%; 
  float: left;
  height: auto;
  margin-top: 60px;
}

.content-full p {
  font-size: 1.1em;
}

.intro {
  margin: 30px;
}

/* Sidebar */


.imagem-padrao {
  border-radius: 10px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagem-bola {
  border-radius: 100px;
  width: 130px;
  height: 130px;
  margin-left: 30px;
}

.post-title {
  margin-bottom: 20px;
}

/* galeria de fotos */

.content-galeria .content-full {
  position: relative;
  margin-top: 60px;
  width: 100%;
  margin-left: auto;
}

.content-galeria .post {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.galeria-fotos {
  columns: 5 200px;
  width: 90%;
  margin: 0 auto;
}

.galeria-fotos .foto {
  position: relative;
  margin: 0 1.5rem 1rem 0;
  display: inline-block;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.galeria-fotos .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  max-width: 90%;
  opacity: 0;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.galeria-fotos div img {
  width: 100%;
  min-height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.galeria-fotos > div:hover .desc {
  opacity: 1;
}

.galeria-fotos > div:hover img {
  filter: blur(5px);
}


[id^=lightbox-] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

[id^=lightbox-]:target {
  opacity: 1;
  pointer-events: inherit;
}

[id^=lightbox-]:target img {
  filter: blur(0);
}

[id^=lightbox-] .content {
  max-width: 70%;
  position: relative;
  color: #fff;
}

[id^=lightbox-] .content > * {
  transition: all 450ms ease-in-out;
}

[id^=lightbox-] img {
  width: 60%;
  margin: auto;
  display: block;
  padding: 0;
  filter: blur(50px);
}

/* Fade-in */

@-webkit-keyframes fade-in-item {
  0%   { display: block; opacity: 0;  }
  30% { display: block; opacity: .5; }
  60% { display: block; opacity: .8; }
  100% { display: block; opacity: 1; } 
}

.fadein-0 {
  opacity: 0;
  animation: fade-in-item 1.5s .1s ease-out forwards;
}

.fadein-1 {
  opacity: 0;
  animation: fade-in-item 2s 1s ease-out forwards;
}

.fadein-2 {
  opacity: 0;
  animation: fade-in-item 2s 1.5s ease-out forwards;
}

.fadein-3 {
  opacity: 0;
  animation: fade-in-item 2s 2s ease-out forwards;
}

.fadein-post {
  opacity: 0;
  animation: fade-in-item 2s .1s ease-out forwards;
}