{{ define "main" }}

    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <!-- (Optional) Home
            -- on top of `mainSections` content (aka posts) ;
            -- as declared in content/_index.md

            One can set `mainSections = [""]` and have the content/_index.md specified here
        -->
        
    {{- $js := "" -}}
    {{- range .Site.Params.customJs -}}
        {{- if or (in . "http://") (in . "https://") -}}
            <script src="{{ . | relURL }}"></script>
        {{- else -}}
            {{- $customJS := resources.Get . -}}
            {{- if $customJS -}}
                {{- if eq $js "" -}}
                    {{- $js = $customJS -}}
                {{- else -}}
                    {{- $js = slice $js $customJS | resources.Concat "js/custom.js" -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
        
        {{ .Content }}
    </div>
{{ end }}
