<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
   {{- partial "head.html" . -}}
   <body>
      <div class="main">
         <div class="page-top" style = "width: 100%">
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
            <ul class="nav" id="navMenu">
               {{ $url := .RelPermalink }}
               {{ range .Site.Menus.main }}
               {{ $active := eq $url .URL }}
               <li><a {{if $active }}class="current"{{end}}
                  href="{{ .URL }}"
                  {{ if strings.HasPrefix .URL "http" }}
                  target="_blank"
                  rel="noopener noreferrer"
                  {{ end }}
                  title="{{ .Title }}">{{ .Name }}</a>
               </li>
               {{ end }}
               {{ if .Site.IsMultiLingual }}
               {{ range $.Site.Home.AllTranslations }}
               <li><a href="{{ .Permalink }}"
                  title="{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a></li>
               {{ end }}
               {{ end }}
               <li class="theme-switch-item">
                  <a class="theme-switch" title="Switch Theme">
                  <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
                  </a>
               </li>
            </ul>
         </div>
         <div class="autopagerize_page_element">
            <div class="content-galeria">
                <div class = "content-full">
                   <div class='post fadein-post'>
                     <div class="post-content">
                        <div class="post-title">
                           <h3>{{ .Title }}</h3>
                        </div>
                        <p><em>{{ .Description }}</em></p>
                        <br>
                        <div class="galeria-fotos">
                           {{ range .Params.albumItem }}
                           {{ $id := .id }}
                           {{ $descricao := .descricao }}
                           {{ $scratch := newScratch }}
                           {{ $scratch.Set "number" 1 }}
                              {{ range .fotos}}
                              <div class = "foto">
                                 <a href = '#lightbox-{{ $id }}-{{ $scratch.Get "number" }}'>
                                   <img id = '{{ $id }}-{{ $scratch.Get "number" }}' src = "/images/fotos/{{ . }}"> 
                                 </a>
                                 <div class = "desc">{{ $descricao | markdownify}}</div>
                              </div>
                              {{ $scratch.Add "number" 1}}
                              {{ end }}
                           {{ end }}
                       </div>
                       {{ range .Params.albumItem }}
                          {{ $id := .id }}
                          {{ $scratch := newScratch }}
                          {{ $scratch.Set "number" 1 }}
                          {{ range .fotos}}
                          <a class="close" href='#{{ $id }}-{{ $scratch.Get "number" }}'>
                             <div class="lightbox" id='lightbox-{{ $id }}-{{ $scratch.Get "number" }}'>
                               <div class="content">
                                    <img src="/images/fotos/{{ . }}"/>
                               </div>
                             </div>
                           </a>
                          {{ $scratch.Add "number" 1}}
                        {{ end }}
                     {{ end }}
                     </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
      {{- partial "footer.html" . -}}
   </body>
</html>