<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
   {{- partial "head.html" . -}}
   <body>
      <div class="main">
         <div class="page-top" style = "width: 100%">
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
            <ul class="nav" id="navMenu">
               {{ $url := .RelPermalink }}
               {{ range .Site.Menus.main }}
               {{ $active := eq $url .URL }}
               <li><a {{if $active }}class="current"{{end}}
                  href="{{ .URL }}"
                  {{ if strings.HasPrefix .URL "http" }}
                  target="_blank"
                  rel="noopener noreferrer"
                  {{ end }}
                  title="{{ .Title }}">{{ .Name }}</a>
               </li>
               {{ end }}
               {{ if .Site.IsMultiLingual }}
               {{ range $.Site.Home.AllTranslations }}
               <li><a href="{{ .Permalink }}"
                  title="{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a></li>
               {{ end }}
               {{ end }}
               <li class="theme-switch-item">
                  <a class="theme-switch" title="Switch Theme">
                  <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
                  </a>
               </li>
            </ul>
         </div>
         <div class="autopagerize_page_element">
            <div class="content-full">
                
               <div class='post fadein-post'>
                  <div class="post-content">
                     <div class="post-title">
                        <h3>{{ .Title }}</h3>
                     </div>
                     <p>{{ .Description }}</p>
                     <div class="row fotos">
                        {{ range .Params.albumItem }}
                        <div class="column">
                            <img src = "/images/fotos/{{ index .fotos 0 }}">
                        </div>
                        {{ end }}
                        
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{- partial "footer.html" . -}}
   </body>
</html>