{{ define "main" }}
    <div class="post">
        <div class="post-content">
            <div class="post-title">
                <h3>{{ .Title }}</h3>
            </div>
            <p>{{ .Description }}</p>
            
            {{ range .Params.albumItem }}
                <div class="album-item" date-is={{ .date }}>
                {{if eq (len .fotos) 1}}
                    <div class = "polaroid">
                        <div class = "foto">
                            <img src = "/images/fotos/{{ index .fotos 0 }}">
                        </div>
                        <div class = "descricao">
                            <p>{{ .descricao | markdownify}}</p>
                        </div> 
                    </div>
                {{ else }}
                    {{ $fotos := .fotos }}
                    {{ $descricao := .descricao }}
                    <div id="{{ .id }}" style = "width: 300px;">
                      <div class="slideshow-container">
                          {{ range seq 0 (add (len .fotos) -1) }}
                            <div class="mySlides fade">
                              <div class="numbertext">{{ add . 1 }} / 2</div>
                                  <div class = "polaroid">
                                    <div class = "foto">
                                        <img src = "/images/fotos/{{ index $fotos . }}">
                                    </div>
                                    <div class = "descricao">
                                        <p>{{ $descricao | markdownify}}</p>
                                    </div> 
                                </div>
                            </div>
                          {{ end }}
                        <a class="prev" onclick="plusSlides(-1, &quot;{{ .id }}&quot;)">&#10094;</a>
                        <a class="next" onclick="plusSlides(+1, &quot;{{ .id }}&quot;)">&#10095;</a>
                      </div>
                      <div style="text-align:center;">
                        <span class="dot active" onclick="currentSlide(1, &quot;{{ .id }}&quot;)"></span>
                        <span class="dot" onclick="currentSlide(2, &quot;{{ .id }}&quot;)"></span>
                      </div>
                    </div>
                {{ end }}
                </div>
            {{ end }}
        <div class="post-footer">
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>

        {{ if eq .Type "post"}}
            {{ if .Site.DisqusShortname -}}
                <div id="fb_comments_container">
                    <h2>{{ i18n "comments" }}</h2>
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{- end }}
        {{ end }}
    </div>

{{ end }}
